<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>New status</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= link_to 'Back', statuses_path, class: "btn btn-block btn-danger" %>
  </div>
</div>
