/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 70px;
}

/*.navbar {
  background-color: #2ECC71;
  border-bottom: 4px solid #27AE60;
}*/

.nav-green {
  background-color: #2ECC71;
  border-bottom: 4px solid #27AE60;
}

.nav-red {
  background-color: #E74C3C;
  border-bottom: 4px solid #C0392B;
}

.nav-yellow {
  background-color: #F1C40F;
  border-bottom: 4px solid #F39C12;
}

.nav-blue {
  background-color: #3498DB;
  border-bottom: 4px solid #2980B9;
}

.nav-orange {
  background-color: #E67E22;
  border-bottom: 4px solid #D35400;
}

.nav-purple {
  background-color: #9B59B6;
  border-bottom: 4px solid #8E44AD;
}

.nav-turquoise {
  background-color: #1ABC9C;
  border-bottom: 4px solid #16A085;
}

.nav-darkblue {
  background-color: #34495E;
  border-bottom: 4px solid #2C3E50;
}

.navbar-inverse .navbar-collapse {
    border-color: #27AE60;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-inverse .navbar-nav li a {
  color: #fff;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #27AE60;
}
