// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group {
  padding-top: 15px;
}

.status {
  background-color: #ECF0F1;
  color: #2C3E50;
}

.status h3,
.status h5 {
  font-weight: bold;
}

.status h5,
.status h6 {
  text-align: right;
}

.status h5 {
  display: inline-block;
}

.status img {
  border-radius: 50%;
  width: 40px;
  border: 2px solid #2ECC71;
}
